<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" th:href="@{/}"><b>Home</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse topnav" id="navbarNav">
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/accounts/}">Account<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products/}">Product<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders/}">Order<span class="sr-only">(current)</span></a>
                </li>
            </div>

            <div class="navbar-nav ml-auto">
                    <a class="nav-link" th:if="${#request.userPrincipal != null}"> Welcome <b><span th:if="${#request.userPrincipal.name}"
                                                                th:utext="${#request.userPrincipal.name.toUpperCase()}"></span></b></a>
                    <a class="nav-link" th:if="${#request.userPrincipal != null}"
                                        th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</th:block>