<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: head (pageTitle = 'Forgot Password')"></th:block>
<link rel="stylesheet" th:href="@{/login.css}">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <p style="margin-top: 1rem"><b style="font-size: 22px; color: #39ace7"> Reset Password </b></p>
            <p th:if="${param.error}" class="error">
                <span style="font-size:12px; color: #FF1C19;">Email invalid, please verify!</span>
            </p>
            <p th:if="${param.success}" class="text-success">
                <span style="font-size:12px; color: #27ab10;"> You've successfully reset a new password!</span>
            </p>
        </div>

        <!-- Reset Form -->
        <form th:action="@{/reset-password}" method="POST" th:object="${passwordResetForm}">
            <input type="hidden" name="token" th:value="${token}"/>
            <input type="password" class="fadeIn second" name="email" placeholder="New password..."
                   style="text-transform: none" th:field="*{pass}"/>
            <input type="password" class="fadeIn second" name="email" placeholder="Confirm new password..."
                   style="text-transform: none" th:field="*{confirmPass}"/>

            <input type="submit" class="fadeIn fourth" name="recover-submit" style="margin: 20px"
                   value="Save Password"/>
        </form>

        <!-- Sign up -->
        <div id="formForgot">
            <p class="text-center small">Don't have an Account? <a class="underlineHover" th:href="@{/register}">Sign
                up</a></p>
        </div>
    </div>
</div>
<th:block th:replace="common/footer :: footer"></th:block>
</html>