<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: head (pageTitle = 'Reset Password')"></th:block>
<link rel="stylesheet" th:href="@{/login.css}">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <p style="margin-top: 1rem"><b style="font-size: 22px; color: #39ace7"> Reset Password </b></p>

            <p th:if="${error}" class="text-danger">
                <span style="font-size:12px" th:text="${error}"></span>
            </p>
        </div>

        <!-- Reset Form -->
        <form th:action="@{/reset-password}" method="POST" th:object="${passwordResetForm}" th:unless="${error}">

            <p class="text-danger"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>

            <input type="hidden" name="token" th:value="${token}"/>

            <input type="password" class="fadeIn second" placeholder="New password..."
                   style="text-transform: none" th:field="*{pass}"/>

            <p class="text-danger"
               th:each="error: ${#fields.errors('pass')}"
               th:text="${error}"></p>

            <input type="password" class="fadeIn second" placeholder="Confirm new password..."
                   style="text-transform: none" th:field="*{confirmPass}"/>

            <p class="text-danger"
               th:each="error: ${#fields.errors('confirmPass')}"
               th:text="${error}"></p>

            <input type="submit" class="fadeIn fourth" name="recover-submit" style="margin: 20px"
                   value="Save Password"/>
        </form>

        <!-- Sign up -->
        <div id="formForgot">
            <p class="text-center small">Don't have an Account? <a class="underlineHover" th:href="@{/register}">Sign
                up</a></p>
        </div>
    </div>
</div>
<th:block th:replace="common/footer :: footer"></th:block>
</html>