<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: head"></th:block>
<th:block th:replace="common/header :: header"></th:block>
<div class="container body-fix" style="width: 700px">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="container" style="text-align: center"><h2><b>Order Item Details <span th:text="${idOther}"></span></b></h2></div>
            </div>
        </div>
        <table class="table table-bordered" th:if="${#lists.isEmpty(orders)}">
            <div class="alert alert-warning">
                <strong>There are no item to show the view !!!</strong>
            </div>

        </table>
        <table class="table table-bordered" th:if="${not #lists.isEmpty(orders)}">
            <tr class="header-color" style="text-align: center">
                <th width="50px">#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
            <tbody>
            <tr th:each="order, i : ${orders}">
                <td>
                    <span th:text="${i.index + 1}"></span>
                </td>
                <td>
                    <span th:text="${order.product.name}"></span>
                </td>
                <td>
                    <span th:text="${order.price}"></span>
                </td>
                <td>
                    <span th:text="${order.quantity}"></span>
                </td>
                <td>
                    <span th:text="${order.quantity * order.price}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="common/footer :: footer"></th:block>
</html>