<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: head "></th:block>
<th:block th:replace="common/header :: header"></th:block>
<link rel="stylesheet" th:href="@{/register.css}">

<div class="container wrapper" style="margin-top: 100px !important;">
    <form class="form-horizontal" role="form">
        <h3>Registration</h3>
        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">Username*</label>
            <input type="text" id="userName" placeholder="Username..." class="form-control" autofocus>
        </div>
        <div class="form-group">
            <label for="fullName" class="col-sm-3 control-label">Full Name</label>
            <input type="text" id="fullName" placeholder="Full Name..." class="form-control" autofocus>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password*</label>
            <input type="password" id="password" placeholder="Password..." class="form-control">
        </div>
        <input type="submit" class="fadeIn fourth"style="margin: 20px" value="Register">
    </form> <!-- /form -->
</div> <!-- ./container -->

<th:block th:replace="common/footer :: footer"></th:block>
</html>